<ion-header>
  <ion-toolbar>
    <ion-title>Pahlawan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="Title" [(ngModel)]="book.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea
      placeholder="Description"
      [(ngModel)]="book.description"
    ></ion-textarea>
  </ion-item>
  <ion-button expand="full" color="primary" shape="round" size="medium" (click)="updateBook()">
    <ion-icon slot="start" name="create-outline"></ion-icon>
    Update
  </ion-button>

  <!-- Delete Button -->
  <ion-button expand="full" color="danger" shape="round" size="medium" (click)="deleteBook()">
    <ion-icon slot="start" name="trash-outline"></ion-icon>
    Delete
  </ion-button>
</ion-content>

<style>
  ion-button {
  --border-radius: 12px;  
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);  
}

ion-button[color="primary"] {
  --background: linear-gradient(to right, #007bff, #0056b3); 
  --color: white; 
}

ion-button[color="primary"]:hover {
  --background: linear-gradient(to right, #0056b3, #007bff);  
}

ion-button[color="danger"] {
  --background: linear-gradient(to right, #e74c3c, #c0392b); 
  --color: white;  
}

ion-button[color="danger"]:hover {
  --background: linear-gradient(to right, #c0392b, #e74c3c); 
}

</style>