<ion-card class="info-card">
  <ion-card-header>
    <ion-card-title class="card-title">
      <ion-icon name="person-circle-outline" class="icon"></ion-icon>
      Yulio Putra
    </ion-card-title>
    <ion-card-subtitle class="card-subtitle">
      <ion-icon name="school-outline" class="icon"></ion-icon>
      NIM: H1D022085
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p>As an active 5th semester Informatics student at Jenderal Soedirman University, I have the ambition to be more 
      motivated in trying new activities, thinking critically and solving problems, as well as having good 
      communication and teamwork skills. In my organizational experience, I was able to manage my time by 
      prioritizing and avoiding procrastination, which helped me to finish my work quickly and efficiently. In addition, 
      I have an interest in UI/UX designer</p>
  </ion-card-content>
</ion-card>
